

ul {
    list-style-type: none;
}
.flex {
    display: flex;
    /*
    justify-content: space-between;
    */
}
.navigation {
    gap: 1em;
    height: 200px;
    width: 500px;
}
.center-item {
    align-self: center;
}

.navigation a {
    text-decoration: none;
}
.navigation > .btn {
    height: 100%;
    border: 1px solid silver;
    border-radius: 8px;
    
    align-self:center;
    
}

.bottom-item {
    align-self: self-end;
}

